apiVersion: 1

datasources:
  - name: ZeroFS Prometheus
    uid: zerofs-prometheus
    type: prometheus
    access: proxy
    url: "@@PROMETHEUS_URL@@"
    isDefault: false
    editable: false
    jsonData:
      httpMethod: POST
      timeInterval: 5s
