[cache]
dir = "/srv/zerofs-persist/cache"
disk_size_gb = 1000.0
memory_size_gb = 64.0

[storage]
url = "sftp://storage-user@storage-host.example/data/zerofs-prod"
encryption_password = "${ZEROFS_STORAGE_PASSWORD}"

[sftp]
identity_file = "/srv/zerofs-persist/current/storage-key"
known_hosts = "/srv/zerofs-persist/current/known_hosts"
max_connections = 4
read_concurrency = 4
write_concurrency = 4
segment_size_mib = 32
read_cache_part_size_kib = 1024

[filesystem]
max_size_gb = 6000.0
ignore_fsync = false

[writeback]
enabled = true
ack_mode = "ssd"
memory_size_gb = 4.0
disk_size_gb = 64.0
min_free_gb = 32.0
dir = "/srv/zerofs-persist/state/writeback"
shutdown_flush = "local"

[servers.ninep]
addresses = ["10.10.10.30:5564"]
unix_socket = "/run/zerofs/9p.sock"

[servers.nbd]
addresses = ["10.10.10.30:10809"]
unix_socket = "/run/zerofs/nbd.sock"
write_ack_mode = "materialized"

[servers.nfs]
addresses = ["10.10.10.30:2049"]

[servers.rpc]
unix_socket = "/run/zerofs/rpc.sock"

[servers.webui]
addresses = ["10.10.10.30:8080"]
uid = 0
gid = 0

[prometheus]
addresses = ["10.10.10.30:9567"]
